@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  :root {
    color: #334155;
    --background: 210, 40%, 98%;
    --neutrals-100: 210, 40%, 96%;
    --neutrals-200: 214, 32%, 91%;
    --neutrals-300: 213, 27%, 84%;
    --neutrals-400: 215, 20%, 65%;
    --neutrals-500: 215, 16%, 47%;
    --neutrals-600: 215, 19%, 35%;
    --neutrals-700: 210, 40%, 60%;
    --neutrals-800: 210, 40%, 50%;
    --neutrals-900: 210, 40%, 40%;
    --foreground: 0, 0%, 0%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 250, 69%, 26%;
    --primary-foreground: 0, 0%, 100%;
    --primary-background: 250, 69%, 26%, 1;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-secondary: 0, 100%, 50%, 0.24;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
    --grey: 213, 27%, 84%, 1;
    --success: 137, 66%, 30%, 1;
    --success-foreground: 112, 100%, 31%, 0.2;
  }

  .black {
    --background: 238 94% 7%; /* Dark navy blue from the logo for the app's background */
    --foreground: 0 0% 100%; /* White for text for high contrast and readability */
    --card: 238 94% 15%; /* A slightly lighter navy blue for card elements */
    --card-foreground: 0 0% 100%; /* White text on cards */
    --popover: 238 94% 15%; /* Same as card for consistency */
    --popover-foreground: 0 0% 100%; /* White text on popovers */
    --primary: 238 94% 50%; /* Brightened version of the logo's blue for primary elements */
    --primary-foreground: 0 0% 100%; /* White text on primary elements */
    --secondary: 236 94% 30%; /* A slightly muted and lighter blue for secondary elements */
    --secondary-foreground: 0 0% 100%; /* White text on secondary elements */
    --muted: 238 94% 10%; /* Even darker shade of the logo's blue for muted elements */
    --muted-foreground: 0 0% 100%; /* White text on muted elements */
    --accent: 236 94% 40%; /* A softer blue for accent elements */
    --accent-foreground: 0 0% 100%; /* White text on accent elements */
    --destructive: 0 80% 50%; /* A standard red for warnings or errors */
    --destructive-foreground: 0 0% 100%; /* White text on destructive elements */
    --border: 238 94% 10%; /* A darker shade of the logo's blue for borders */
    --input: 238 94% 20%; /* A lighter shade of the logo's blue for input fields */
    --ring: 236 94% 40%; /* An accent color for focus rings */
    --radius: 0.3rem; /* Rounded corners for a modern look */
  }
}
