@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-style {
  /* From https://css.glass */
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  display: none;
}