name: Build server

on:
  push:
    branches: [main]
  pull_request:
    branches: [develop, main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js 20...
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install yarn...
        run: npm install -g yarn

      - name: Install dependencies...
        run: yarn install
        working-directory: packages/new-server

      - name: Build server
        run: yarn build
        working-directory: packages/new-server
