name: Cypress Tests

on:
  pull_request:
    branches: [develop]

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
        working-directory: ./packages/app
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
        uses: cypress-io/github-action@v6
        with:
          build: yarn build
          start: yarn start