name: Prettier

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-prettier:
    runs-on: ubuntu-latest

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install dependencies
      run: yarn

    - name: Check code formatting
      run: npx prettier --check ./data/**/*.json ./app/**/*.tsx ./components/**/*.tsx
