name: Cypress Tests with Dependency and Artifact Caching

on:
  push:
    branches: [main]
  pull_request:
    branches: [develop, main]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node 20 ...
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install yarn and dependencies
        run: |
          npm install -g yarn

      - name: Cypress install
        uses: cypress-io/github-action@v6
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          runTests: false
          build: yarn build

      - name: Save .next directory
        uses: actions/upload-artifact@v4
        with:
          name: next-artifact
          if-no-files-found: error
          path: packages/app/.next

  chrome-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the build folders
        uses: actions/download-artifact@v4
        with:
          name: next-artifact
          path: packages/app/.next

      - name: "E2e tests - Chrome"
        uses: cypress-io/github-action@v6
        with:
          build: yarn --cwd packages/app cypress info
          start: yarn --cwd packages/app start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          group: "Chrome"
          browser: chrome
          working-directory: packages/app
          record: true
          parallel: true
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEBUG: "cypress:server:args"

  chrome-mobile-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the build folders
        uses: actions/download-artifact@v4
        with:
          name: next-artifact
          path: packages/app/.next

      - name: "E2e tests - Chrome Mobile"
        uses: cypress-io/github-action@v6
        with:
          build: yarn --cwd packages/app cypress info
          start: yarn --cwd packages/app start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          group: "Chrome"
          browser: chrome
          working-directory: packages/app
          record: true
          parallel: true
          config: |
            {
            "e2e": {
            "viewportWidth": 390,
            "viewportHeight": 844
            }
            }
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEBUG: "cypress:server:args"

  firefox-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the build folders
        uses: actions/download-artifact@v4
        with:
          name: next-artifact
          path: packages/app/.next

      - name: "E2e tests - Firefox"
        uses: cypress-io/github-action@v6
        with:
          build: yarn --cwd packages/app cypress info
          start: yarn --cwd packages/app start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          group: "Firefox"
          browser: firefox
          working-directory: packages/app
          record: true
          parallel: true
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEBUG: "cypress:server:args"

  firefox-mobile-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the build folders
        uses: actions/download-artifact@v4
        with:
          name: next-artifact
          path: packages/app/.next

      - name: "E2e tests - Firefox mobile"
        uses: cypress-io/github-action@v6
        with:
          build: yarn --cwd packages/app cypress info
          start: yarn --cwd packages/app start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          group: "Firefox"
          browser: firefox
          record: true
          parallel: true
          working-directory: packages/app
          config: |
            {
            "e2e": {
            "viewportWidth": 375,
            "viewportHeight": 667
            }
            }
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEBUG: "cypress:server:args"
