name: Cypress Tests with Dependency and Artifact Caching

on:
  push:
    branches: [main]
  pull_request:
    branches: [develop, main]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node 20 ...
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install yarn and dependencies
        run: |
          npm install -g yarn

      - name: Cypress install
        uses: cypress-io/github-action@v6
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
        with:
          runTests: false
          build: yarn build

      - name: Save .next directory
        uses: actions/upload-artifact@v4
        with:
          name: next-artifact
          if-no-files-found: error
          path: packages/app/.next

  ui-chrome-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: install
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the build folders
        uses: actions/download-artifact@v4
        with:
          name: next-artifact
          path: packages/app/.next

      - name: "E2e tests - Chrome"
        uses: cypress-io/github-action@v6
        with:
          build: yarn cypress info
          start: yarn start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          browser: chrome
          record: true
          parallel: true
          group: "UI - Chrome"
          spec: packages/app/cypress/tests/e2e/*
          config-file: packages/app/cypress.config.js
        env:
          NEXT_PUBLIC_STUDIO_API_KEY: ${{ secrets.NEXT_PUBLIC_STUDIO_API_KEY }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEBUG: "cypress:server:args"
